<h1><%= @user == current_user ? 'My' : @user.name %> Schedule</h1>

<p>Times are in <%= Time.zone %></p>

<%= form_for(OncallSchedule.new, :url => user_oncall_schedules_path(params[:user_id])) do %>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Day</th>
        <th>Times</th>
      </tr>
      <tbody>
        <% @oncall_schedules.each do |oncall_schedule| %>
          <tr>
            <td><strong><%= days_of_the_week[oncall_schedule.wday-1] %>s</strong></td>
            <td>
              <%= select_tag("[days]#{oncall_schedule.wday}[start_time]", schedule_options_for_select(oncall_schedule.start_time), :class => 'form-control w-auto d-inline') %>
              <span style="color:#ccc;">&nbsp; to &nbsp;</span>
              <%= select_tag("[days]#{oncall_schedule.wday}[end_time]", schedule_options_for_select(oncall_schedule.end_time), :class => 'form-control w-auto d-inline') %>
              <%= hidden_field_tag "[days]#{oncall_schedule.wday}[wday]", oncall_schedule.wday %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>

  <div class="form-check mb-3">
    <%= check_box_tag :schedule_emails, :class => 'form-check-input' %>
    <%= label_tag :schedule_emails, "Email me when schedule puts me on or off call", :class => 'form-check-label' %>
  </div>


  <%= submit_tag 'Save Schedule', :class => 'btn btn-primary' %>

<% end %>
