
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, :class => 'devise-form clearfix' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h2>Resend confirmation instructions</h2>

  <div id="devise-form-fields-container" class="mb-3">
    <div class="field mb-2">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :class => 'form-control', :required => 'required' %>
    </div>

    <div class="actions mb-2">
      <%= f.submit "Resend confirmation instructions", :class => 'btn btn-primary w-100' %>
    </div>
  </div>
  <%= render "devise/shared/links" %>
<% end %>

