<% if action?('new') %>
  <h1>Invite Volunteer</h1>
<% end %>

<%= form_for(User.new, :html => {:class => 'form-horizontal'}) do |f| %>
  <p class="lead">The operator will receive this email that includes a link to login and set their password:</p>

  <% if @user.present? && @user.errors.any? %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</strong><br>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, "Volunteer's Name*" %>
    <%= f.text_field :name, :class => 'form-control', :required => 'required' %>
  </div>

  <div class="mb-3">
    <%= f.label :email, "Volunteer's Email*"%>
    <%= f.text_field :email, :type => 'email', :class => 'form-control', :required => 'required' %>
  </div>

  <%= f.submit 'Send Invite Email', :class => 'btn btn-primary' %>
<% end %>