<h1>Join as an operator for the <%= Rails.configuration.x.hotline.name %></h1>

<%= form_for(@user, :html => {:class => 'col-sm-4 offset-sm-4'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Oops, check the errors below:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating mb-3">
    <%= f.text_field :name, :class => 'form-control', 'placeholder' => 'Your Name', 'aria-describedby' => 'signup-name-help', :required => 'required' %>
    <%= f.label :name, 'Your Name' %>
    <div id="signup-name-help" class="form-text">First and last</div>
  </div>

  <div class="form-floating mb-3">
    <%= f.text_field :email, :type => 'email', :class => 'form-control', 'placeholder' => 'you@domain.com', 'aria-describedby' => 'signup-email-help', :required => 'required' %>
    <%= f.label :email %>
    <div id="signup-email-help" class="form-text">We'll never share your contact info with anyone.</div>
  </div>

  <div class="form-floating mb-3">
    <%= f.text_field :phone, :type => 'tel', :class => 'form-control', 'placeholder' => 'xxx-xxx-xxxx', 'aria-describedby' => 'signup-phone-help', :required => 'required' %>
    <%= f.label :phone, 'Phone Number' %>
    <div id="signup-email-help" class="form-text">xxx-xxx-xxxx format</div>
  </div>

  <div class="form-floating mb-3">
    <%= f.text_field :twitter, :class => 'form-control', 'placeholder' => 'cmg', :required => 'required' %>
    <%= f.label :twitter, 'Twitter' %>
  </div>

  <div class="form-floating mb-3">
    <%= f.text_area :bio, :rows => 3, :class => 'form-control', :placeholder => 'Tell us about yourself', :required => 'required' %>
    <%= f.label :bio, "What makes you a good #{Rails.configuration.x.hotline.name} operator?" %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>