<div class="row">
  <div class="col-12 col-sm-8">
    <div class="clearfix widget">
      <h3 class="with-pill-nav">Hotline Activity</h3>
      <%= form_with :url => calls_log_notes_path, :method => 'post', :local => true do |f| %>
        <%= f.text_field :call_id, :class => 'form-control', :placeholder => 'Call #', :required => 'required' %><br>
        <%= f.text_area :notes, :class => 'activity-update form-control', :placeholder => 'Add your notes', :value => flash[:call_notes], :required => 'required' %>
        <%= f.submit 'Share', :class => 'btn btn-primary float-end' %>
      <% end %>
    </div>

    <div id="activities">
      <%= render :partial => 'calls/call_discussion', :collection => @recentAnsweredCalls, as: :call %>
    </div>
  </div>
  <div class="col-12 col-sm-4">
    <div class="card mb-4">
      <div class="card-header">Operators</div>
      <div class="card-body">
        <div id="operators">
          <%= render 'users/operators_grid' %>
        </div>
      </div>
      <div class="card-footer text-center">
        <!-- TODO: Looks like crap on small displays. Un-group? -->
        <div class="btn-group" role="group" aria-label="Operator List Options">
          <%= link_to 'On Call', "#", :class => "on-call-operators-listing btn btn-primary" %>
          <%= link_to 'All', "#", :class => "all-operators-listing btn btn-outline-primary" %>
          <%= link_to 'Invite', new_user_path, "data-bs-toggle" => 'modal', 'data-bs-target' => '#invite-modal', "data-bs-backdrop" => "static", :class => 'btn btn-outline-primary' if admin? %>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">My Schedule</div>
      <div class="card-body">
        <!-- TODO: Horizontal on xs, standard on sm/md, Horizontal on lg -->
        <ul class="list-group list-group-horizontal-lg">
          <% schedules = current_user.oncall_schedules %>
          <% (0..4).each do |i| %>
            <% day = i.days.from_now%>
            <% schedule = schedules.select{|s| s.wday == day.to_date.cwday}.first %>
            <li title="<%= "<strong>#{schedule.nil? ? 'Not Scheduled' : schedule.to_abbrev}</strong><br />#{day.strftime("%A")}" %>s" class="flex-fill list-group-item schedule-day <%= 'list-group-item-success' if schedule.present? %>">
              <div class="month"><%= day.strftime("%b")%></div>
              <div class="day"><%= day.strftime("%e")%></div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="card-footer">
        <%= link_to 'Edit', user_oncall_schedules_path(:current) %>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">Recent Calls</div>
      <div class="card-body">
        <div class="list-group">
        <% current_user.calls.limit(3).each do |call| %>
            <%= link_to call, :class => 'list-group-item list-group-item-action' do %>
              <strong>#<%= call.id %></strong><br>
              <%= call.created_at.strftime("%l:%M %p %Z") %> (<%= call.timecode %>)
            <% end %>
        <% end %>
        </div>
      </div>
      <div class="card-footer"><%= link_to 'View All', current_user.admin? ? calls_path : user_calls_path(:current) %></div>
    </div>

  </div>
</div>
<script>
  $(function() {
    $('textarea').not('.no-auto-resize').autoResize({extraSpace:0, animate:false});
    $("abbr.timeago").timeago();
    $('.operator').twipsy({html: true});

    $('textarea.comment').live( 'keypress', function(e){
      if (e.keyCode == 13) { // enter key was pressed
        if (e.shiftKey) { // shift key is down
          // don't submit
        } else {
          // submit
          e.preventDefault();
          $(this).parents('form').submit();
        }
      }
    });
  });
</script>


<script>
  $(".on-call-operators-listing").click(function() {
    $(this).parents(".btn-group").find(".btn-primary").removeClass("btn-primary active").addClass("btn-outline-primary");
    $(this).addClass("btn-primary").removeClass("btn-outline-primary");
    $('#oncall-operators').show();
    $('#all-operators').hide();
  });
  $(".all-operators-listing").click(function() {
    $(this).parents(".btn-group").find(".btn-primary").removeClass("btn-primary active").addClass("btn-outline-primary");
    $(this).addClass("btn-primary").removeClass("btn-outline-primary");
    $('#oncall-operators').hide();
    $('#all-operators').show();
  });
</script>

<% if admin? %>
  <%= render 'users/invite_modal' %>
<% end %>