<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to truncate(Rails.configuration.x.hotline.name, :length => 20), root_path, :class => 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
        <% unless logged_in? %>
          <li class="nav-item"><%= link_to 'Join', join_path, :class => 'nav-link active' %></li>
          <li class="nav-item"><%= link_to 'Support', support_path, :class => 'nav-link' %></li>
        <% end %>
        <% if logged_in? %>
          <li class="nav-item"><%= link_to 'Dashboard', dashboard_path, :class => 'nav-link' %></li>
          <li class="nav-item"><%= link_to admin? ? 'Calls' : 'My Calls', calls_path, :class => 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Operators', users_path, :class => 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Share', widget_path, :class => 'nav-link' %></li>
        <% end %>
        <% if admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar-admin-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbar-admin-dropdown">
              <li><%= link_to 'Schedules', all_user_oncall_schedules_path(:current), :class => 'nav-link' %></li>
            </ul>
          </li>
        <% end %>
        <li class="nav-item dropdown ms-sm-auto d-sm-flex">
            <% if logged_in? %>
              <%= render 'layouts/current_user_toolbar' %>
              <div class="btn-group pull-right on-call-toggle" data-toggle="buttons-radio">
                <button class="btn <%= 'btn-primary' if current_user.on_call? %>" data-status="on">ON CALL</button>
                <button class="btn <%= 'btn-primary' unless current_user.on_call? %>" data-status="off">OFF CALL</button>
              </div>
            <script type="text/javascript">
              $(document).ready(function() {
                $('.on-call-toggle .btn').click(function() {
                  jQuery.post('<%= toggle_status_user_path(current_user) %>');
                })
              })
            </script>
            <% else %>
              <%= link_to 'Sign in', login_path, :class=> 'nav-link' %>
            <% end %>
            
        </li>
      </ul>

    </div>
  </div>
</nav>